.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: ghostwhite;
}

.header a {
  text-decoration: none;
  font-size: 18px;
  padding: 12px;
  color: rgb(102, 101, 101);
}
