.task {
  padding: 15px;
  background-color: rgba(245, 198, 154, 0.803);
  margin-bottom: 10px;
  border-radius: 5px;
}

.done {
  text-decoration: line-through;
  padding: 15px;
  background-color: rgba(241, 219, 199, 0.705);
  margin-bottom: 10px;
}

.taskdiv {
  position: relative;
  margin-right: 15px;
}
button {
  position: absolute;
  right: 7px;
  top: 1vh;
  background-color: rgba(192, 255, 220, 0.466);
  border-radius: 5px;
  border: none;
}
