.clockBg {
  background-color: #e4ffd9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23c1a099' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23ebada6' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6ccb4' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23e8c1ad' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d2d8bb' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23e1c29d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23c9dec3' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23efdfa7' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23839488' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23dad98f' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2397a8a5' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23a0ad6d' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.maindiv {
  height: inherit;
}
.svgdiv {
  display: flex;
  justify-content: center;
  margin: 35px 0 35px 0;
}

.clockanddate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clock {
  font-size: 90px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgba(51, 167, 86, 0.767);
}
.date {
  padding-top: 30px;
  font-size: 30px;
  color: rgba(172, 53, 112, 0.748);
}
